.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999; //for making on top of everything7
    //for hiding popp initially
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &__content{
        @include abscenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
        border-radius: 4px;
        display: table;
        overflow: hidden;

    }

    &__left{
        width: 33.333333333%;
        display: table-cell;

        @include respond(tab-land){
            width: 100%;
            display: inline-block;
        }

        @include respond(phone){
            
        }

    }

    &__right{
        width: 66.66666666666;
        display: table-cell;
        vertical-align: middle;
        padding:3rem 5rem;

        @include respond(tab-land){
            width: 100%;
            display: inline-block;
            padding: 1rem 2rem;
        }

    }

    &__img{
        display: block;
        width: 100%;
        //height: 38vh;  //new our 

        @include respond(tab-land){
            display: inline-block;
            width: 50%;
            &--1{
                float: left;
                height: 35vh;
            }

            &--2{
                float: right;
                height: 35vh;
            }
        }
    }

    &__text{
        font-size: 1.4rem;
        margin-bottom: 3rem;

        //column propeties
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-dark-2;
        text-align: justify;
        -webkit-hyphens: auto;
    }

        //when btn is clicked popup will be shown
    &:target{
        opacity: 1;
        visibility: visible;
    }

    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 4.5rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: .5;
        }

        &:hover{
            color: $color-primary;
        }
        
    }
}